.container-dynamic-text{
    width: 246px;
    overflow: hidden;
    background: red;
}
.container-dynamic-text .text{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}

.text-target {
    color: $blue-light;
}

.text.text-target:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $white;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
