.navigation {
  position: fixed;
  top: 1rem;
  left: 1.4rem;
  font-size: 1.4rem;
  line-height: 28px;
  color: $color-4;

  @include sm {
    bottom: 30px;
    top: auto;
    left: 50%;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    background: $color-3;
    transform: translateX(-50%);
  }

  &:before {
    content: '';
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: $color-3;
    top: -150px;
    left: -200px;
    z-index: -10;
    animation: navAnim 20s infinite alternate;

    @include sm {
      display: none;
    }

    @keyframes navAnim {
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  .nav-active {
    color: $black;
  }

  ul {

    display: flex;
    flex-direction: column;
    gap: 10px;

    &:hover li:not(:hover) {
      opacity: .5;
    }
    &:hover li:hover {
      color: $black;
    }

    @include sm {
      flex-direction: row;
      gap: 30px;
      justify-content: space-around;
    }

    span {
      
      @include sm {
        display: none;
      }
    }

    i {
      display: none;
      font-size: 30px;

      @include sm {
        display: flex;
      }
    }

  }

  // .nav-portfolio {
  //   cursor: pointer;
  //   display: flex;
  //   // padding-right: 6rem;
  //   transition: .5s;

  //   &:hover .nav-projects,
  //   .nav-projects:hover {

  //     visibility: visible;
  //     opacity: 1;

  //     li {
  //       transform: rotatey(0deg)
  //     }
  //   }

  //   .nav-projects {
  //     position: absolute;
  //     visibility: hidden;
  //     opacity: 0;
  //     padding: 0 40px;
  //     width: 300px;
  //     transform: translateX(70px);
  //     transition: .3s ;
  //     perspective: 500px;

  //     li {
  //       transform: rotatey(30deg) scaleX(1.2);
  //       transform-origin: center;
  //       transition: .3s;
  //     }
  //   }
  // }
}