.social-network {
  position: absolute;
  right: 10%;
  top: 0;
  width: 50%;
  font-size: 1.2rem;

  ul {
    display: flex;
    width: 100%;
    min-width: 100px;
    justify-content: space-around;

    a {
      padding: 1rem;
      transition: 1.1s ease-out;
    }

    i {
      font-size: 30px;
    }
  }
}