$font-1: "Poppins", sans-serif;


$white: #fafeff;
$blue-light: #00c1ec;
$color-3: #e7f7fe;
$color-4: rgb(141, 141, 141);
$black: rgb(40, 40, 40);
$red: rgb(253, 87, 87);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;

  &::selection {
    color: $white;
    background: $blue-light;
  }
}
html { 
  scroll-behavior: unset;
}
a,
a:visited {
  color: $color-4;
}
body {
  font-family: $font-1;
  height: 100vh;
  background-color: $white;
  color: $black;
  overflow-x: hidden;

  @media screen and (max-width: 430px){
    position: relative;
    max-width: 100vw;
    overflow-y: initial;
  }
}
main {
  position: relative;
}
.button {
  background: $color-3;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    letter-spacing: 1px;
    color: $blue-light;
  }
}

// --------- MIXINS
/*------- Media queries---------*/
$breakpoints: (
  xs: 440px,
  sm: 576px,
  mm: 650px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin xs {
  @media screen and (max-width: map-get($breakpoints, xs)) and (max-width: map-get($breakpoints, md)) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: map-get($breakpoints, sm)) {
    @content;
  }
}
@mixin mm {
  @media screen and (max-width: map-get($breakpoints, mm)) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: map-get($breakpoints, md)) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: map-get($breakpoints, lg)) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: map-get($breakpoints, xl)) {
    @content;
  }
}

