#about {
  position: relative;
  overflow-x: hidden;

  .logo {
    left: 10%;
    top: 100px;
    display: none;

    @include sm {
        display: block;
    }
  }

  &:after {
    content: "";
    height: 600px;
    width: 600px;
    background: $color-3;
    border-radius: 50%;
    position: absolute;
    bottom: 500px;
    right: -200px;
    z-index: -2;
    animation: homeAnim 26s infinite alternate;

    @include md {
        height: 400px;
        width: 400px;
    }

    @keyframes homeAnim {
      50% {
        transform: scale(0.8);
      }
      100% {
        transform: scale(1.1);
      }
    }
  }
}

.about-container {
  .about-title {
    padding: 140px 10% 50px;
    color: $black;
    display: flex;
    align-items: center;
    position: relative;

    @include mm {
      flex-direction: column;
      padding: 200px 10% 0;
    }

    h2 {
      font-size: clamp(40px, 6vw, 60px);
      margin: 0 10% 20px 0;

      @include mm {
        font-size: clamp(36px, 9vw, 60px);
        margin: 0 0 50px 0;
      }
    }

    &:after {
      content: "";
      height: 150px;
      width: 150px;
      border: 1px solid $blue-light;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      left: 45%;
      z-index: -1;
    }
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: -55px;
      border-radius: 100%;
      transition: 0.4s ease-in;
      cursor: pointer;
    }
  }

  .presentation {
    display: flex;
    flex-direction: row;
    color: $black;
    padding: 30px 10% 50px;
    gap: 100px;

    @include md {
      flex-direction: column;
      padding: 70px 10% 120px;
    }

    .texte-presentation {
      line-height: 30px;
      flex: 1;

      a {
        font-weight: 800;
        color: #333;
      }
    }

    .skills-presentation {
      flex: 1;

      h2 {
        font-size: clamp(40px, 6vw, 60px);
        margin-bottom: 20px;
        text-align: center;
      }
      .stack-presentation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        img {
          max-width: 90px;
          max-height: 90px;
          object-fit: contain;
        }
      }
    }
  }
}
