#about {
    position: relative;

    .logo {
        left: 50%;
        transform: translateX(-50%);
        top: 20px;
    }

    &:after {
        content: '';
        height: 600px;
        width: 600px;
        background: $color-3;
        border-radius: 50%;
        position: absolute;
        bottom: -180px;
        left: 0px;
        z-index: -2;
        animation: homeAnim 26s infinite alternate;
    
        @media screen and (max-width: 650px){
          height: 300px;
          width: 300px;
          bottom: 300px;
          left: -50px;
        }
    
        @keyframes homeAnim {
          50% {
            transform: scale(0.8);
          }
          100% {
            transform: scale(1.1);
          }
        }
        
      }
}

.about-container {
    

    .about-title {
        padding: 150px 10% 50px;
        color: $black;
        display: flex;
        align-items: center;

        @include mm {
            flex-direction: column;
            padding: 100px 10% 0;
        }

        h2 {
            font-size: clamp(40px, 6vw, 60px);
            margin: 0 10% 20px 0;
            z-index: 1;

            @include mm {
                font-size: clamp(36px, 9vw, 60px);
                margin: 0 0 50px 0;
            }
        }

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position:-55px;
            border-radius: 100%;
            transition: 0.4s ease-in;
            cursor: pointer;

            &:hover {
                box-shadow: 2px 2px 14px 4px #333;
                transform: scale(1.3);
                transition: 0.4s ease-in;
            }
        }
    }

    .presentation {
        display: flex;
        flex-direction: row;
        color: $black;
        padding: 50px 10% 100px;
        gap: 100px;

        @include md {
            flex-direction: column;
        }
        

        .texte-presentation {
            line-height: 30px;
            flex:1 ;
        

            a {
                font-weight: 800;
                color: #333;
            }
        }

        .stack-presentation {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            flex:1 ;
    

            img {
                max-width: 90px;
                max-height: 90px;
                object-fit: contain;
                cursor: pointer;

            }
        }
    }
}
