.footer {
  overflow-x: hidden;
}

.contact {
  width: 100vw;
  overflow-x: hidden;
  position: relative;

  &:after {
    content: "";
    height: 600px;
    width: 600px;
    background: $color-3;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: -460px;
    z-index: -10;
    animation: contactAnim 25s alternate infinite;

    @keyframes contactAnim {
      50% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  .contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    width: 100%;
    align-items: center;
    justify-items: center;
  }

  // LOGO
  .logo {
    top: 100px;
    right: 10%;
  }

  // -----------------FORMULAIRE DE CONTACT
  .form-container {
    margin: 200px 0 0 10% ;
    max-width: 300px;
    width: 100%;
    position: relative;
    
    @include md {
      padding-right:  10% ;
    }

    h2 {
      margin-bottom: 50px;
      font-size: 1.5rem;

      &:after {
        content: "";
        height: 70px;
        width: 70px;
        border: 1px $blue-light solid;
        border-radius: 50%;
        position: absolute;
        top: -22px;
        left: 133px;
        z-index: -1;
      }
    }

    .form-content {
      display: grid;

      input,
      textarea {
        background: none;
        font-family: $font-1;
        font-size: 1.2rem;
        border-bottom: 1px solid $blue-light;
        border-radius: 5px;
      }
      input {
        padding: 10px 6px;
        margin-bottom: 30px;
      }
    }
    textarea {
      resize: none;
      padding: 6px 0;
      height: 70px;

    }
    input.button {
      background: $color-3;
      height: 55px;
      width: 126px;
      border-radius: 50px;
      margin-top: 20px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: 0.2s;
      border: none;
    }
  }
  .formMessage {
    p {
      border-radius: 20px;
      text-align: center;
      padding: 5px 0;
    }
    .success {
      background: rgb(139, 248, 139);
    }
    .error {
      background: rgb(246, 147, 147);
    }
  }
}

// ---------------INFORMATIONS DE CONTACT
.contact-infos {
  position: relative;
  padding: 100px 50px 0;
  width: 100%;

  @media screen and (max-width:649px) {
    padding: 0 10%;
  }


  h4 {
    color: $color-4;
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 10px;
  }

  .email .content p,
  .phone .content p {
    transition: 0.25s;

    &:hover {
      transform: translateX(5px);
    }
  }

  .address {
    text-align: right;
    margin-bottom: 50px;
  }
}

.credits {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
  
  @include sm {
    padding-bottom: 120px;
  }
}